{% extends "_layout.html" %} {% block title %} {{data.kitchen_name}} | Kichn {%
endblock %} {% block header_title %} {{data.kitchen_name}} {% endblock %} {%
block nav_items %}
<li p="x-2 b-1.5">
  <a href="/kitchens">
    <img src="/static/home-icon.svg" alt="Home" h="8" w="8" />
  </a>
</li>
<li p="x-2 b-2" border="b-3 transparent">
  <a
    href="/kitchens/{{data.kitchen_id}}/inventory"
    text="gray-500 hover:inherit"
  >
    Inventory
  </a>
</li>
<li p="x-2 b-2" border="b-3 gray-800">
  <a href="/kitchens/{{data.kitchen_id}}/grocery">Grocery</a>
</li>
<li p="x-2 b-2" border="b-3 transparent">
  <a href="/kitchens/{{data.kitchen_id}}/custom" text="gray-500 hover:inherit">
    Custom products
  </a>
</li>
{% endblock %} {% block main %}
<div m="b-12" flex="~" space="x-2">
  <input
    hx-post="/kitchens/{{data.kitchen_id}}/grocery/search"
    hx-trigger="keyup changed delay:200ms"
    hx-target="#grocery-list"
    type="text"
    id="name"
    placeholder="Search for a product..."
    name="query"
    border="~ gray-400"
    rounded="md"
    p="y-2 x-3"
    w="full"
  />
  <a
    href="scan"
    display="block"
    text="light-50 hover:gray-800"
    font="medium"
    rounded="md"
    p="x-4 y-2"
    border="2 gray-800"
    bg="gray-800 hover:light-50"
    whitespace="nowrap"
    transition="duration-75"
  >
    Scan barcode
  </a>
</div>
<ul id="grocery-list" p="x-2">
  {% include "grocery/list.partial.html" %}
</ul>
{% endblock %}
