# Provides HTML template rendering
Jinja2~=3.1.2

# HTTP & WebSocket server
aiohttp~=3.8.3

# Converts image data formats
Pillow~=9.3.0
# Reads barcodes
pyzbar~=0.1.9

# Interfaces with Meilisearch search engine
meilisearch~=0.23.0
# Interfaces with Redis database
redis~=4.3.5
# Hashes passwords
argon2-cffi~=21.3.0