{% extends "kitchen/_layout.html" %} {% block main %}
<div m="b-12" flex="~" space="x-2">
  <input
    hx-post="inventory/search"
    hx-trigger="keyup changed delay:200ms"
    hx-target="#inventory-list"
    type="text"
    id="name"
    placeholder="Search for a product..."
    name="query"
    border="~ gray-400"
    rounded="md"
    p="y-2 x-3"
    w="full"
  />
  <a
    href="inventory?sort-by-category=true"
    display="block"
    text="light-50 hover:gray-800"
    font="medium"
    rounded="md"
    p="x-4 y-2"
    border="2 gray-800"
    bg="gray-800 hover:light-50"
    whitespace="nowrap"
    transition="duration-75"
  >
    Sorting by expiry
  </a>
</div>

<ul id="inventory-list" p="x-2">
  {% include "kitchen/inventory/sorted_list.partial.html" %} {% endblock %}
</ul>
