<ul id="inventory-list" p="x-2">
  {% for product in data.products %}
  <a
    href="inventory/{{product.id}}"
    text="lg"
    m="b-4"
    rounded="md"
    border="~ gray-300 hover:gray-500"
    bg="hover:gray-50"
    flex="~"
    align="items-center"
    class="group"
  >
    <div pos="relative">
      <img
        rounded="md"
        overflow="hidden"
        src="/kitchens/{{data.kitchen.id}}/images/{{product.id}}"
        alt=""
        w="max-16"
      />
      <span
        rounded="full"
        bg="gray-100 group-hover:gray-200"
        border="~ gray-300 group-hover:gray-500"
        text="sm gray-700 center"
        font="semibold"
        w="7"
        h="7"
        flex="~"
        align="items-center"
        justify="center"
        pos="absolute -right-2 -bottom-2"
      >
        {{product.amount}}
      </span>
    </div>

    <span p="x-4 y-2" w="min-0">
      <div text="truncate">{{product.name}}</div>
      <div text="gray-400 xs">
        {% if product.expiries %}
        <span>Expiring</span>
        <span font="mono" tracking="wide"
          >{{product.expiries.keys() | min}}</span
        >
        {% else %}
        <span>No expiry</span>
        {% endif %}
      </div>
    </span>
  </a>
  {% endfor %}
</ul>
