<!DOCTYPE html>
<html lang="en" h="screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Kichn {% endblock %}</title>
    <link rel="stylesheet" href="/static/global.min.css" />
    <script src="/static/htmx.min.js"></script>
    <script src="/static/alpine.min.js" defer></script>
  </head>
  <body
    hx-boost="true"
    hx-ext="ws"
    ws-connect="/ws"
    h="min-full"
    flex="~ col"
    align="items-center"
    bg="light-50"
  >
    <header w="min-full" p="x-8 y-4">
      <h1 font="medium" text="2xl">
        {% block header_title %} {% endblock %}
      </h1>
    </header>
    <nav w="min-full" border="b gray-400" p="x-6">
      <ul flex="~" align="items-end" space="x-6" m="-b-px">
        {% block nav_items %} {% endblock %}
      </ul>
    </nav>

    <main w="full max-112" p="x-4 y-8">{% block main %} {% endblock %}</main>
  </body>
</html>
