<!DOCTYPE html>
<html lang="en" h="screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kichn</title>
    <link rel="stylesheet" href="static/global.min.css" />
    <script src="static/htmx.min.js"></script>
  </head>
  <body
    hx-ext="ws"
    ws-connect="/ws"
    h="min-full"
    flex="~ col"
    align="items-center"
  >
    {% block body %}{% endblock %}
  </body>
</html>
