{% extends "_layout.html" %} {% block title %} {{data.kitchen_name}} | Kichn {%
endblock %} {% block header_title %}{{data.kitchen_name}}{% endblock %} {% block
nav_items %}
<li p="x-2 b-1.5">
  <a href="/kitchens">
    <img src="/static/home-icon.svg" alt="Home" h="8" w="8" />
  </a>
</li>
<li p="x-2 b-2" border="b-3 gray-800">
  <a href="/kitchens/{{data.kitchen_id}}/inventory">Inventory</a>
</li>
<li p="x-2 b-2" border="b-3 transparent">
  <a href="/kitchens/{{data.kitchen_id}}/grocery" text="gray-500 hover:inherit">
    Grocery
  </a>
</li>
<li p="x-2 b-2" border="b-3 transparent">
  <a href="/kitchens/{{data.kitchen_id}}/custom" text="gray-500 hover:inherit">
    Custom products
  </a>
</li>
{% endblock %} {% block main %}
<!-- <form hx-post="/" m="b-12">
    <label for="name" text="xs gray-400">New kitchen name</label>
    <div flex="~" space="x-2">
      <input
        type="text"
        id="name"
        placeholder="Home kitchen"
        name="name"
        border="~ gray-400"
        rounded="md"
        p="y-2 x-3"
        w="full"
      />
      <button
        type="submit"
        text="light-50 hover:gray-800"
        font="medium"
        rounded="md"
        p="x-4 y-2"
        border="2 gray-800"
        bg="gray-800 hover:light-50"
        whitespace="nowrap"
        transition="duration-75"
      >
        Create kitchen
      </button>
    </div>
  </form>
  <h1 font="medium" text="2xl" m="b-4">Your kitchens</h1>
  <ul p="x-2">
    {% for kitchen in kitchens %}
    <li>
      <a
        href="/kitchens/{{inventory.kitchen_id}}/`"
        text="lg"
        m="b-2"
        p="x-4 y-2"
        rounded="md"
        border="~ gray-300 hover:gray-500"
        bg="hover:gray-50"
        display="block"
      >
        {{kitchen.name}}
      </a>
    </li>
    {% endfor %}
  </ul> -->
{% endblock %}
