{% extends layout %} {% block body %}
<header w="min-full" flex="~" align="items-center" p="2">
  <a href="#">
    <img src="/static/home-icon.svg" alt="Home" h="8" w="8" />
  </a>
  <a href="#" font="" text="lg" m="l-4">{{user.username}}</a>
</header>
<nav w="min-full" border="b gray-400">
  <!-- <ul>
    <li><a href="#">Inventory</a></li>
    <li><a href="#">Grocery</a></li>
    <li><a href="#">Custom products</a></li>
    <li><a href="#">Inventory</a></li>
  </ul> -->
</nav>

<main w="full max-112" p="x-4 y-8">
  <form hx-post="/" m="b-12">
    <label for="name" text="xs gray-400">New kitchen name</label>
    <div flex="~" space="x-2">
      <input
        type="text"
        id="name"
        placeholder="Home kitchen"
        name="name"
        border="~ gray-400"
        rounded="md"
        p="y-2 x-3"
        w="full"
      />
      <button
        type="submit"
        text="gray-50"
        font="medium"
        rounded="md"
        p="x-4 y-2"
        bg="gray-800"
        whitespace="nowrap"
      >
        Create kitchen
      </button>
    </div>
  </form>
  <h1 font="medium" text="2xl" m="b-4">Your kitchens</h1>
  <ul p="x-2">
    {% for kitchen in kitchens %}
    <li>
      <a
        href="/kitchens/{{kitchen.id}}/inventory"
        text="lg"
        m="b-2"
        p="x-4 y-2"
        rounded="md"
        border="~ gray-300 hover:gray-500"
        bg="hover:gray-50"
        display="block"
      >
        {{kitchen.name}}
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
